<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>StarCodeKh - Categories</title>

    <%- include("../../upper") %>

        <!-- Main Content Wrapper -->
        <main class="main-content w-full px-[var(--margin-x)] pb-8">
            <div class="flex flex-col items-center justify-between space-y-4 py-5 sm:flex-row sm:space-y-0 lg:py-6">
                <div class="flex items-center space-x-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="size-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 7a2 2 0 012-2h4l2 2h8a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2V7z" />
                    </svg>
                    <h2 class="text-xl font-medium text-slate-700 line-clamp-1 dark:text-navy-50">
                        Categories
                    </h2>
                </div>
                <div class="flex justify-center space-x-2">
                    <a href="/dashboard/create_category"
                        class="btn min-w-[7rem] bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
                        Create Category
                    </a>
                </div>
            </div>
            <div class="is-scrollbar-hidden min-w-full overflow-x-auto">
                <table class="is-hoverable w-full text-left">
                    <thead>
                        <tr>
                            <th
                                class="whitespace-nowrap rounded-l-lg bg-slate-200 px-3 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5">
                                #
                            </th>
                            <th
                                class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5">
                                Image
                            </th>
                            <th
                                class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5">
                                Title
                            </th>
                            <th
                                class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5">
                                Products
                            </th>
                            <th
                                class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5">
                                Tags
                            </th>
                            <th
                                class="whitespace-nowrap bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5">
                                Status
                            </th>
                            <th
                                class="whitespace-nowrap rounded-r-lg bg-slate-200 px-4 py-3 font-semibold uppercase text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5">
                                <label class="inline-flex items-center space-x-2">
                                    <input
                                        class="form-checkbox is-basic size-5 rounded border-slate-400/70 checked:bg-primary checked:border-primary hover:border-primary focus:border-primary dark:border-navy-400 dark:checked:bg-accent dark:checked:border-accent dark:hover:border-accent dark:focus:border-accent"
                                        type="checkbox" />
                                </label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% categories.map((category,index)=> {
                            const {id,title,description,image,tags,status} = category; %>
                            <tr class="border border-transparent border-b-slate-200 dark:border-b-navy-500 relative">
                                <td class="whitespace-nowrap rounded-l-lg px-4 py-3 sm:px-5">
                                    <span class="z-10 relative">
                                        <%= ++index %>
                                    </span>
                                    <a href="/dashboard/create_category?editid=<%= id %>"
                                        style="position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;"></a>
                                </td>
                                <td></td>
                                <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                                    <a href="/dashboard/create_category?editid=<%= id %>"
                                        class="z-10 relative hover:underline">
                                        <%= title %>
                                    </a>
                                </td>
                                <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                                    <span class="z-10 relative">
                                        <%= description.slice(0,40) %>...
                                    </span>
                                </td>
                                <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                                    <span class="z-10 relative">&lt;<%= tags.join("&gt;&lt;") %>&gt;</span>
                                </td>
                                <td class="whitespace-nowrap px-4 py-3 sm:px-5">
                                    <% if(status==="deactive" ){ %>
                                        <a href="/dashboard/category_status?statusid=<%= id %>&status=deactive"
                                            class="btn min-w-[7rem] bg-error font-medium text-white hover:bg-error-focus focus:bg-error-focus active:bg-error-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90 z-10 relative">Deactive</a>
                                        <% } else { %>
                                            <a href="/dashboard/category_status?statusid=<%= id %>&status=active"
                                                class="btn min-w-[7rem] bg-success font-medium text-white hover:bg-success-focus focus:bg-success-focus active:bg-success-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90 z-10 relative">Active</a>
                                            <% } %>
                                </td>
                                <td class="whitespace-nowrap rounded-r-lg px-4 py-3 sm:px-5">
                                    <label class="inline-flex items-center space-x-2 z-10 relative">
                                        <input
                                            class="form-checkbox is-basic size-5 rounded border-slate-400/70 checked:bg-primary checked:border-primary hover:border-primary focus:border-primary dark:border-navy-400 dark:checked:bg-accent dark:checked:border-accent dark:hover:border-accent dark:focus:border-accent"
                                            type="checkbox" />
                                    </label>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
        </main>

        <%- include("../../lower") %>