<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background: #f6f8fa;
            font-family: 'Poppins', sans-serif;
        }

        .container {
            max-width: 700px;
            width: 100%;
            background: #ffffff;
            border-radius: 0.5rem;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1),
                0px 5px 12px -2px rgba(0, 0, 0, 0.1),
                0px 18px 36px -6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            margin: 10px;
        }

        .container .title {
            padding: 25px;
            background: #f6f8fa;
        }

        .container .title p {
            font-size: 25px;
            font-weight: 500;
            position: relative;
        }

        .container .title p::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30px;
            height: 3px;
            background: linear-gradient(to right, #F37A65, #D64141);
        }

        .user_details {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;
            padding: 25px;
        }

        .user_details .input_box {
            width: 100%;
            margin: 0 0 12px 0;
        }

        .input_box label {
            font-weight: 500;
            margin-bottom: 5px;
            display: block;
        }

        .input_box label::after {
            content: " *";
            color: red;
        }

        .input_box input {
            width: 100%;
            height: 45px;
            border: none;
            outline: none;
            border-radius: 5px;
            font-size: 16px;
            padding-left: 15px;
            box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
            background-color: #f6f8fa;
            font-family: 'Poppins', sans-serif;
            transition: all 120ms ease-out 0s;
        }


        .input_box input:focus,
        .input_box input:valid {
            box-shadow: 0px 0px 0px 2px #AC8ECE;
        }

        form .gender {
            padding: 0px 25px;
        }

        .gender .gender_title {
            font-size: 20px;
            font-weight: 500;
        }

        .gender .category {
            width: 80%;
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
        }

        .gender .category label {
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        .gender .category label .dot {
            height: 18px;
            width: 18px;
            background: #d9d9d9;
            border-radius: 50%;
            margin-right: 10px;
            border: 4px solid transparent;
            transition: all 0.3s ease;
        }

        #radio_1:checked~.category label .one,
        #radio_2:checked~.category label .two,
        #radio_3:checked~.category label .three {
            border-color: #d9d9d9;
            background: #D64141;
        }

        .gender input {
            display: none;
        }

        .reg_btn {
            padding: 0px 25px 25px;
            margin: 15px 0;
        }

        .reg_btn input {
            height: 45px;
            width: 100%;
            border: none;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
            background: linear-gradient(to right, #F37A65, #D64141);
            border-radius: 5px;
            color: #ffffff;
            letter-spacing: 1px;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
        }

        .reg_btn input:hover {
            background: linear-gradient(to right, #D64141, #F37A65);
        }

        @media screen and (max-width: 584px) {

            .user_details {
                max-height: 340px;
                overflow-y: scroll;
            }

            .user_details::-webkit-scrollbar {
                width: 0;
            }

            .user_details .input_box {
                width: 100%;
            }

            .gender .category {
                width: 100%;
            }

        }


        @media screen and (max-width: 419px) {
            .gender .category {
                flex-direction: column;
            }
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary"
        style="position: fixed;top: 0;width: 100%;display: flex;justify-content: center;z-index: 99999;">
        <div class="container">
            <a class="navbar-brand" href="/dashboard">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/addproduct">Add</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard/addtocart">Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logoutuser">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="pt-5 d-flex" style="width: 1130px;flex-wrap: wrap;align-items: center;flex-direction: column;">
        <% if(!cartProducts.length){ %>
            <div style="display: flex;flex-direction: column;text-align: center;">
                <h1>No Products Available in Cart</h1>
                <a href="/dashboard" class="btn btn-primary py-2 mt-3" style="width: 50%;margin: 0 auto;">Add
                    Product</a>
            </div>
            <% }else{ %>
                <h1 class="py-4">View Cart</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 5%;" class="p-3">#</th>
                            <th scope="col" style="width: 15%;" class="p-3">Image</th>
                            <th scope="col" style="width: 20%;" class="p-3">Name</th>
                            <th scope="col" style="width: 25%;" class="p-3">Description</th>
                            <th scope="col" style="width: 10%;" class="p-3">Price</th>
                            <th scope="col" style="width: 10%;" class="p-3">Quentity</th>
                            <th scope="col" style="width: 5%;" class="p-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% cartProducts.map((cartpro,index)=> { %>
                            <tr key="<%= cartpro?._id %>">
                                <td class="p-3">
                                    <%= ++index %>
                                </td>
                                <td class="p-3"><img src="/<%= cartpro?.image %>" class="card-img-top"
                                        alt="<%= cartpro?.image %>"></td>
                                <td class="p-3">
                                    <%= cartpro?.name %>
                                </td>
                                <td class="p-3">
                                    <%= cartpro?.description %>
                                </td>
                                <td class="p-3">₹ <%= cartpro?.price %>
                                </td>
                                <td class="p-3">
                                    <%= cartpro?.quentity %>
                                </td>
                                <td class="text-center">
                                    <a href="/dashboard/deleteproduct?cartid=<%= cartpro?._id %>" class="text-black">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <line x1="18" y1="6" x2="6" y2="18"></line>
                                            <line x1="6" y1="6" x2="18" y2="18"></line>
                                        </svg>
                                    </a>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } %>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>