<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read More</title>
    <!-- icons  -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        h1{
            font-size: 65px;
        }
        p{
            font-size: 22px;
        }
        p.price{
            font-size: 45px;
        }
        .image{
            height: 650px;
            line-height: 550px;
        }
        .btns a{
            width: 32%;
            font-size: 22px !important;
            padding: 10px !important;
        }
        .btns form{
            width: 32%;
        }
        .btns form input[type='submit']{
            width: 100%;
            font-size: 22px;
            padding: 10px;
        }
        .btns a.buy{
            background-color: rgb(255, 153, 0);
        }
        .btns a.buy:hover{
            background-color: rgba(255, 166, 0, 0.932);
        }
        .quantity .quantity-btns a,.quantity .quantity-btns span{
            font-size: 30px;
            text-decoration: none;
            color: #000;
            padding-left: 30px;
        }
    </style>
</head>

<body>
    <%- include('navbar') %>

    <section class="p-5">
        <div class="container">
            <div class="row d-flex">
                <div class="image col-5 border p-5 text-center">
                    <img src="<%= single.image %>" alt="<%= single.image %>" height="500">
                </div>
                <div class="content col-7 ps-5 pt-3">
                    <h1 class="mb-3"><%= single.name %></h1>
                    <p> <strong>Author :</strong> <%= single.author %></p>
                    <p> <strong>Page :</strong> <%= single.pages %></p>
                    <p><%= single.description %></p>
                    <p class="price text-success fw-semibold m-0"><span class="fs-2 text-danger">-30%</span> ₹ <%= single.price %></p>
                    <p class="m-0">M.R.P. : <s class="text-danger fs-3">₹ <%= (single.price+(single.price*0.3)) %></s></p>
                    <p>Inclusive of all taxes</p>
                    <p class="text-success fs-2">In stock</p>
                    <div class="quantity d-flex align-items-center mb-3">
                        <p class="m-0">Quantity : </p>
                        <div class="quantity-btns">
                            <a href="#" onclick="decrement(event)">-</a>
                            <span id="count"><%= count %></span>
                            <a href="#" onclick="increment(event)">+</a>
                        </div>
                        <p class="text-success fw-semibold m-0 ps-5 ms-5 fs-1">₹ <span id="total"><%= single.price %></span></p>
                    </div>
                    <div class="btns d-flex justify-content-between">
                        <form action="/addtocart" method="post">
                            <input type="hidden" name="cartId" value="<%= single._id %>">
                            <input type="hidden" name="cartCount" id="cartCount" value="1">
                            <input type="submit" class="cart btn btn-warning" value="Add to Cart">
                        </form>
                        <a href="#" class="buy btn btn-warning">Buy Now</a>
                        <form action="/addtowishlist" method="post">
                            <input type="hidden" name="wishlistId" value="<%= single._id %>">
                            <input type="submit" class="wish btn btn-outline-dark" value="Add to Wish List">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- bootstrap  -->
    <script src="/js/bootstrap.bundle.min.js"></script>

    <script>
        let count = document.getElementById('count').textContent;
        let total = document.getElementById('total').textContent;
        
        const increment = (event) => {
            event.preventDefault();
            count++;
            document.getElementById('count').textContent = count;
            document.getElementById('total').textContent = total*count;
            document.getElementById('cartCount').value = count;
        }
        const decrement = (event) => {
            event.preventDefault();
            if(count > 1){
                count--;
                document.getElementById('count').textContent = count;
                document.getElementById('total').textContent = total*count;
                document.getElementById('cartCount').value = count;
            }
        }
    </script>
</body>

</html>