<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book</title>
    <!-- icons  -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
    <%- include('navbar') %>

    <section class="p-5">
        <div class="container">
            <div class="row">
                <% allData.map((data,i)=>{ %>
                    <div class="col-3 p-2">
                        <div class="border p-4">
                            <div class="image text-center">
                                <img src="<%= data.image %>" alt="" height="250">
                            </div>
                            <div class="content pt-4">
                                <h4><%= data.name %></h4>
                                <p class="m-0"><%= data.author %> (Author)</p>
                                <div class="rate text-warning py-1">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <p class="text-success fw-semibold fs-5">₹ <%= data.price %> <s class="text-danger fs-6">₹ 500</s></p>
                                <a href="#" class="btn btn-warning d-block">Read More</a>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>

    <!-- bootstrap  -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>