<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Book</title>
    <!-- icons  -->
    <link rel="stylesheet" href="/css/all.min.css">
    <!-- bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <style>
        .card{
            transition: all 0.3s;
        }
        .card .image h4{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            padding: 1rem;
            color: #fff;
            background-color: #00000090;
            transition: all 0.3s;
        }
        .card .image img{
            object-fit: cover;
            transition: all 0.3s;
        }
        .card .content{
            position: absolute;
            opacity: 0;
            visibility: hidden;
            top: 50%;
            left: 0;
            padding: 0 1.5rem 1.5rem 1.5rem;
            transition: all 0.5s;
        }
        .card:hover{
            padding: 1.5rem;
        }
        .card:hover .image h4{
            opacity: 0;
            visibility: hidden;
        }
        .card:hover .image img{
            object-fit: contain;
            transition: all 0.3s;
        }
        .card:hover .content{
            opacity: 1;
            visibility: visible;
            top: 100%;
        }
    </style>
</head>

<body>
    <%- include('navbar') %>

    <section class="p-5">
        <div class="container">
            <div class="row">
                <% allData.map((data,i)=>{ %>
                    <% const {name,price,pages,author,image,description,_id} = data; %>
                    <div class="col-3 p-2">
                        <div class="card border border-bottom-0 position-relative">
                            <div class="image text-center">
                                <img src="<%= image %>" alt="" height="250" width="100%">
                                <h4 class="m-0"><%= name %></h4>
                            </div>
                            <div class="content border border-top-0">
                                <h4><%= name %></h4>
                                <p class="m-0"><%= author %> (Author)</p>
                                <p class="text-success fw-semibold fs-5">₹ <%= price %> <s class="text-danger fs-6">₹ <%= price+300 %></s></p>
                                <div class="d-flex justify-content-between">
                                    <a href="/editdata?editId=<%= _id %>"><i class="fa-regular fa-pen-to-square btn btn-outline-warning px-3" style="font-family: 'Font Awesome 6 Free';"></i></a>
                                    <a href="#" class="btn btn-warning px-4">Read More</a>
                                    <a href="/deletedata?deleteId=<%= _id %>"><i class="fa-regular fa-trash-can btn btn-outline-warning px-3" style="font-family: 'Font Awesome 6 Free';"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </section>

    <!-- bootstrap  -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>