<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>View User</h1>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% allData.map((val,i)=>{ %>
                    <% const {id,name,email,password} = val %>
                    <tr>
                        <td><%= ++i %></td>
                        <td><%= name %></td>
                        <td><%= email %></td>
                        <td><%= password %></td>
                        <td>
                            <a href="/edituser?editId=<%= id %>">Edit</a>
                            <a href="/deleteuser?deleteId=<%= id %>">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/add">Add</a>
    </div>
</body>
</html>