<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/bootstrap.min.css">
    <!-- icon  -->
    <link rel="stylesheet" href="/all.min.css">
    <!-- slider  -->
    <link rel="stylesheet" href="/slider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
    <!-- font  -->
    <link href="https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/style.css">
</head>

<body style="background: url('http://ott.aipdfquery.com/assets/img/dark-gradient-bg.jpg') no-repeat center;background-size: cover;background-blend-mode: darken;background-color: #5f0000;color: #fff;">
    <%- include('navbar') %>
    <div class="container-fluid px-0 py-5">
        <section class="hero-slider hero-style">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <% slider.map((data) => { %>
                        <div class="swiper-slide position-relative">
                            <div class="slide-inner slide-bg-image"
                                data-background="<%= data.thumbnail %>">
                                <div class="slider-content">
                                    <div data-swiper-parallax="300" class="slide-title">
                                        <h2><%= data.name %></h2>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p>
                                            <% data.genre.map((genre) => { %>
                                                <%= genre %> / 
                                            <% }) %>
                                        </p>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p><%= data.description %></p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div data-swiper-parallax="500" class="slide-btns">
                                        <a href="#" class="theme-btn-s2 fs-5">Book now</a>
                                        <a href="#" class="theme-btn-s3 fs-5"><i class="fas fa-chevron-circle-right"></i> Get Info</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
                <!-- end swiper-wrapper -->
        
                <!-- swipper controls -->
                <div class="swiper-pagination"></div>
                <!-- <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div> -->
            </div>
        </section>
    </div>
    <section>
        <div class="container-fluid p-5">
            <% movies.map((data,i)=>{ %>
                <% const {writers,thumbnail}=data;%>
                    <img src="<%= thumbnail %>" alt="<%= thumbnail %>" height="300">
                <% }) %>
        </div>
    </section>

    <script src="/bootstrap.bundle.min.js"></script>

    <!-- slider  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>

        // HERO SLIDER
        var menu = [];
        jQuery('.swiper-slide').each(function (index) {
            menu.push(jQuery(this).find('.slide-inner').attr("data-text"));
        });
        var interleaveOffset = 0.5;
        var swiperOptions = {
            loop: true,
            speed: 800,
            parallax: true,
            autoplay: {
                delay: 3000,
                disableOnInteraction: false,
            },
            watchSlidesProgress: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            on: {
                progress: function () {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        var slideProgress = swiper.slides[i].progress;
                        var innerOffset = swiper.width * interleaveOffset;
                        var innerTranslate = slideProgress * innerOffset;
                        swiper.slides[i].querySelector(".slide-inner").style.transform =
                            "translate3d(" + innerTranslate + "px, 0, 0)";
                    }
                },

                touchStart: function () {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        swiper.slides[i].style.transition = "";
                    }
                },

                setTransition: function (speed) {
                    var swiper = this;
                    for (var i = 0; i < swiper.slides.length; i++) {
                        swiper.slides[i].style.transition = speed + "ms";
                        swiper.slides[i].querySelector(".slide-inner").style.transition =
                            speed + "ms";
                    }
                }
            }
        };

        var swiper = new Swiper(".swiper-container", swiperOptions);

        // DATA BACKGROUND IMAGE
        var sliderBgSetting = $(".slide-bg-image");
        sliderBgSetting.each(function (indx) {
            if ($(this).attr("data-background")) {
                $(this).css("background-image", "url(" + $(this).data("background") + ")");
            }
        });


    </script>
</body>

</html>